.img-flex
  display block
  width 100%

  border 0

.embed
  height 0
  overflow hidden
  position relative

.embed__item
.embed object
.embed embed
.embed iframe
  bottom 0
  left 0
  position absolute
  right 0
  top 0
  width 100%

.embed object
.embed embed
.embed iframe
  height 100%

.ratio-1x1
  padding-bottom 100%

.ratio-43
  padding-bottom 75%

.ratio-6x4
  padding-bottom 66.6%

.ratio-16x9
  padding-bottom 56.25%

.ratio-16x6
  padding-bottom 37.5%

.ratio-unknown
  height auto

  > .embed__item
    position static
