@import 'rem-polyfill'
@import 'grid-builder'

support-for-ie = false

// Common media queries
mw19 = "only screen and (min-width: 19em)"
mw25 = "only screen and (min-width: 25em)"
mw32 = "only screen and (min-width: 32em)"
mw38 = "only screen and (min-width: 38em)"
mw44 = "only screen and (min-width: 44em)"
mw60 = "only screen and (min-width: 60em)"
mw85 = "only screen and (min-width: 85em)"
mw115 = "only screen and (min-width: 115em)"

// Typography settings
base-font-size = 100%
base-line-height = 1.4

// Colours
primary = #4890cd

// Grid
grid-units("xs", 6)

@media only screen and (min-width: 25em)
  grid-units("s", 6)

@media only screen and (min-width: 38em)
  grid-units("m", 6, true)

@media only screen and (min-width: 60em)
  grid-units("l", 6, true)

// --------------------------------------------

html
  height 100%
  margin 0
  position relative

  background-color #fff

  font normal base-font-size/base-line-height Roboto,sans-serif

  @media mw38
    font-size 110%

  @media mw60
    font-size 120%

  @media mw85
    font-size 130%

  @media mw115
    font-size 140%

body
  min-height 100%
  margin 0
  overflow-x hidden
  padding 0
  position relative

  background-color #fff

  color #333

::-moz-selection
  background primary

  color #fff
  text-shadow none

::selection
  background primary

  color #fff
  text-shadow none

h1
  font-size 1.5rem
  margin 0 0 unit(base-line-height, rem)

  color #fff

h2
  font-size 1.125rem
  margin 0 0 unit(base-line-height, rem)

  color #000

h3
  font-size 1rem
  margin 0 0 unit(base-line-height, rem)

  color #000

p
blockquote
  margin 0 0 unit(base-line-height, em)
  padding 0

ul
  margin 0 0 unit(base-line-height, em)
  padding 0 0 0 1.5em

  list-style-type none

  @media mw25
    padding-left 0

  > li
    position relative

  > li:before
    content "•"
    left -0.7em
    position absolute
    width 0.5em

    color primary
    text-align right

ol
.ul-checks
  margin 0 0 unit(base-line-height, em)
  padding 0 0 0 1.5em

  list-style-type none

  @media mw25
    padding-left 0

ol
  counter-reset ol

  > li
    position relative

  > li:before
    left -1.4em
    position absolute
    width 1.1em

    content counter(ol) "."
    counter-increment ol

    color primary
    text-align right

.ol-no-num > li:before
  content ""
  display none

.ul-checks
  > li:before
    left -1.4em
    width 1.1em

    content "✔"

    color primary

dl
  margin 0 0 unit(base-line-height, em)
  overflow hidden
  padding 0

dt
  clear left
  float left
  width 6em

  font-weight bold

dd
  overflow hidden

a
a:link
a:visited
  border-bottom 0.1em solid rgba(primary, 0.3)
  transition all 100ms linear

  color primary
  text-decoration none

a:hover
a:focus
a:active
  border-color rgba(primary, 1)

a:focus
button:focus
  outline 2px solid #000

.mb-lh
  margin-bottom unit(base-line-height, em)

.mb-0
  margin-bottom 0

.db
  display block

.ta-c
  text-align center

.ta-l
  text-align left

.ta-r
  text-align right

.mw-25
.mw-35
.mw-45
.mw-50
  margin-left auto
  margin-right auto
  max-width 35em

.mw-25
  max-width 25em

.mw-45
  max-width 45em

.mw-50
  max-width 50em

.fs-0875
  font-size 0.875rem

.fs-075
  font-size 0.75rem

.inline-w-5
  display inline-block
  width 5em

.grid
  text-align center

.unit
  text-align left

.unit-spacer
  padding 0 8px

  @media mw38
    padding-left 1em
    padding-right 1em

.flex-img
  display block
  width 100%

.nav
  padding 1em 0 1.5em

  background-color #000

  color #fff
  font-weight bold
  text-align center
  // text-transform uppercase

  @media mw38
    font-size 1.125rem

  ul
    margin 0
    padding 0

  li:before
    content ""
    display none

  a
  a:link
  a:visited
    display inline-block
    position relative
    padding 0 0.75em

    border 0

    color #fff

    @media mw38
      padding 0 1.5em

  a:focus
    outline-color #fff

  a:after
    bottom -0.7em
    content "▾"
    left 0
    position absolute
    right 0

    opacity 0.5
    transition all 100ms linear

    color #fff
    line-height 1
    text-align center

  a:hover:after
  a:focus:after
  a:active:after
    opacity 1

.js-expandable-item
  overflow hidden

  transition max-height 250ms linear

.js .js-expandable-item[data-state="collapsed"]
  max-height 0

  @media mw38
    max-height 120em

.masthead
  position relative

  background-color primary

.blurb
  margin 0
  padding 1em

  text-align center
  text-shadow 0 1px 3px rgba(0,0,0,0.5)

  @media mw44
    bottom 0
    padding 0.5em
    position absolute
    width 100%

    background-color transparent

    font-size 1.875rem
    line-height 1.3

  @media mw60
    font-size 2rem
    line-height 1.2

.blurb__text
  display block
  margin 0 auto
  max-width 20em

.lede
  padding unit(base-line-height, em) 8px unit(base-line-height + 0.4, em)

  background-color #000

  color #fff
  font-size 1.125rem
  text-align center

.lede__text
  margin 0 auto
  max-width 25em

  @media mw38
    padding-left 1em
    padding-right 1em

.quote
  margin 0
  padding 1.7em 3em 2em

  background-color primary
  border-bottom 8px solid #000

  color #fff
  text-align center

.quote__text
  margin 0 auto
  max-width 40em
  position relative

.quote__text:before
.quote__text:after
  content "“"
  left -0.6em
  height 0.5em
  position absolute
  top -0.1em
  width 0.5em

  color lighten(primary, 35%)
  font-weight bold
  font-size 5em
  line-height 1
  font-family sans-serif
  text-align right

.quote__text:after
  bottom -0.1em
  content "”"
  left auto
  top auto
  right -0.6em

  text-align left

.platform
  padding unit(base-line-height, em) 0

  border-bottom 8px solid #000

.platform__head
  text-align center

.platform__intro
  text-align center

.platform__details
  // font-size 0.875rem

.platform__heading
  margin-top -0.15em

.more-btn-wrap
  text-align center

  @media mw38
    display none

.more-btn
  padding 0.5em 1em

  background-color #ccc
  border 2px solid #bbb
  border-radius 6px
  cursor pointer

  color #000
  font-size 1.125rem
  font-weight bold
  text-transform uppercase

// .more-btn:hover
// .more-btn:focus
// .more-btn:active
//   background-color primary
//   border-color darken(primary, 25%)

//   color #fff

.bio-wrap
  background-color #e2e2e2

  @media mw60
    border-bottom 2px solid #bbb

.bio-wrap:last-child
  border 0

.bio
  margin 0 auto
  max-width 70em
  position relative

  @media mw38
    padding-top 1em

.bio__name
  margin 7% 0 0
  padding 0

  font-size 1.125rem
  line-height 1.2

  @media mw25
    margin-top 5%

  @media mw38
    margin-top 3%

  @media mw60
    margin-top 0

.bio__email
  overflow hidden
  width 12em

  color #666
  text-overflow ellipsis

  @media mw25
    width auto

.bio__title
  font-style italic
  font-weight normal
  line-height 1.3

.bio__desc
  padding unit(base-line-height, em) 1em 0

  @media mw60
    padding-top 0

.bio__positions
  padding 0 1em

  @media mw38
    padding-top unit(base-line-height, em)

  @media mw60
    padding-top 0

.bio__heading
  margin 0

  font-size inherit

.bio__header
  position relative

.bio__extra
  max-height 100em
  overflow hidden
  position relative

  background-color #ccc
  border-bottom 2px solid #bbb

  font-size 0.875rem

  @media mw38
    background-color transparent

    font-size 0.875rem

  @media mw60
    border 0

    font-size 0.75rem

.bio__extra:after
.bio__extra:before
  content " "
  height 5px
  left 0
  position absolute
  top 0
  right 0

  background-image linear-gradient(to bottom, rgba(#000, 0.3), #ccc)

  @media mw38
    display none

.bio__extra:after
  bottom 0
  top auto

  background-image linear-gradient(to bottom, #ccc, rgba(#000, 0.3))

.bio-wrap:last-child .bio__extra
.bio__extra[data-state="expanded"]
  border-bottom 0

.bio__btn
  bottom 0
  display none
  margin 0
  overflow hidden
  padding 0
  position absolute
  right 8px
  top 0
  width 46px

  background #ccc embedurl("../img/i-nav.svg") no-repeat left center
  border 0
  cursor pointer

  text-indent 100%
  white-space nowrap

.bio__btn[data-state="expanded"]
  background-position right center

.js .bio__btn
  display block

  @media mw38
    display none

.social
  padding unit(base-line-height, em) 0 0

  background-color primary
  border-top 8px solid #000

  color #fff
  text-align center

  a
  a:link
  a:visited
    border-color rgba(#fff, 0.5)

    color #fff

  a:hover
  a:focus
  a:active
    border-color rgba(#fff, 1)

.vote
  padding unit(base-line-height, em) 0

  background-color #000

  color #fff

.vote h2
  color #fff

@import 'icons'
@import 'embed-containers'
@import 'list-group'
