---
---
<!DOCTYPE html>
<html lang="en-ca" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Collaborating 415—Vote for positive leadership and a rejuvenated Local 415</title>
  <meta name="description" content="Algonquin College counsellors, librarians, and faculty need a new collaborative approach based on open dialogue and inclusivity.">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,900,900italic" rel="stylesheet">
  <link href="/css/collaborating415.css" rel="stylesheet">
  <script src="/js/modernizr.js"></script>
  <meta name="application-name" content="Collaborating Local 415">
  <meta name="msapplication-TileImage" content="/msapplication-icon.png">
  <meta name="msapplication-TileColor" content="#4890cd">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Collaborating 415">
  <meta property="og:url" content="http://collaborating415.info/">
  <meta property="og:image" content="http://collaborating415.info/apple-touch-icon.png">
  <meta property="og:site_name" content="Collaborating 415">
  <meta property="og:description" content="Algonquin College counsellors, librarians, and faculty need a new collaborative approach based on open dialogue and inclusivity.">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="Collaborating 415">
  <meta property="twitter:url" content="http://collaborating415.info/">
  <meta property="twitter:image" content="http://collaborating415.info/apple-touch-icon.png">
  <meta property="twitter:description" content="Algonquin College counsellors, librarians, and faculty need a new collaborative approach based on open dialogue and inclusivity.">
</head>
<body>

  <header class="masthead" role="banner">
    <nav class="nav" role="navigation">
      <ul class="list-group">
        <li class="list-group-item list-group-item-inline">
          <a href="#platform">Platform</a>
        </li>
        <li class="list-group-item list-group-item-inline">
          <a href="#people">People</a>
        </li>
        <li class="list-group-item list-group-item-inline">
          <a href="#conversations">Conversations</a>
        </li>
      </ul>
    </nav>

    <div class="embed ratio-16x6 masthead__img">
      <img class="embed__item" src="/img/group-shot.jpg" alt="">
    </div>

    <h1 class="blurb"><span class="blurb__text">Vote for positive leadership and a rejuvenated Local&nbsp;415!</span></h1>
  </header>

  <main role="main">

    <div class="lede" itemscope itemtype="http://schema.org/Event">
      <meta itemprop="name" content="Union Executive Vote">
      <meta itemprop="startDate" content="2013-12-03">
      <p class="lede__text">Elections for our union executive are <strong>Tuesday, December 3rd</strong> and this time you have a choice.</p>
    </div>

    <blockquote class="quote">
      <p class="quote__text">College counsellors, librarians, and faculty are facing serious issues. We <em>need</em> a <em>new</em> collaborative approach based on open dialogue and inclusivity. Together, we can move forward! <strong>It’s time to renew OPSEU Local 415.</strong></p>
    </blockquote>

    <section class="platform" id="platform">

    </section>

    <section id="people">
      {% for person in site.data.people %}
        <div class="bio-wrap">
          <article class="grid bio" itemscope itemtype="http://schema.org/Person">
            <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-3 bio__header">
              <div class="grid">
                <div class="unit unit-xs-1-3 unit-s-1-4 unit-m-1-5 unit-l-1-3 bio__img">
                  <div class="unit-spacer">
                    <img class="flex-img" src="/img/{{person.image}}" alt="">
                  </div>
                </div>
                <header class="unit unit-xs-2-3 unit-s-3-4 unit-m-4-5 unit-l-2-3">
                  <div class="unit-spacer">
                    <h2 class="bio__name" itemprop="name">{{person.name | replace:' ','&nbsp;'}}</h2>
                    <strong class="bio__title" itemprop="jobTitle">{{person.title}}</strong>
                    <button class="bio__btn js-expandable" data-id="person-{{forloop.index}}" data-title-expand="Expand" data-title-collapse="Collapse">Expand</button>
                  </div>
                </header>
              </div>
            </div>
            <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-2-3 bio__extra" id="person-{{forloop.index}}" data-state="collapsed">
              <div class="grid">
                <div class="unit unit-xs-1 unit-s-1 unit-m-1-2">
                  <div class="unit-spacer bio__desc">
                    <p class="">{{person.bio}}</p>
                  </div>
                </div>
                <div class="unit unit-xs-1 unit-s-1 unit-m-1-2">
                  <div class="unit-spacer bio__positions">
                    <h3 class="bio__heading">
                      {% if person.positions_title %}
                        {{person.positions_title}}
                      {% else %}
                        Positions at Algonquin College
                      {% endif %}</h3>
                    <ul class="">
                      {% for position in person.positions %}
                        <li>{{position}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
    </section>

  </main>

  <aside class="social" id="conversations" role="complementary">
    <p class="twitter"><i class="icon i-32 i-twitter"></i> Follow the conversation with <a href="https://twitter.com/search?q=%23collaborating415&amp;src=typd&amp;f=realtime" rel="external">#collaborating415</a></p>
  </aside>

  <script src="/js/collaborating415.js" async></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46072344-1', 'collaborating415.info');
    ga('send', 'pageview');
  </script>
</body>
</html>
